.speakers .confirm-button {
  text-align: center;
}
.speakers button {
  width: 100%;
  padding: 4px;
  margin-top: 10px;
}
.speakers label {
  width: 100px;
}
.label {
  padding: 19px;
  margin-left: -16px;
}
.input-element {
  margin-bottom: 4px;
}